
body {


   font-family:Montserrat;
}


*{

  box-sizing:border-box;

}





  header {
  position:absolute;
  height: 300px;
  width: 1000px;
  background-color:white;
  margin-left:450px;
  margin-right:250px;
  margin-top:100px;
  padding: 0;

}

.naslovna {
  margin-top:10px;
  max-height:300px;
  max-width:700px;
}




header ul {
  margin-top:10px;
  list-style-type: none;
  padding: 0;
  width:130px;
  float:right;
  text-align:center;
margin-right:15px;

}

li a {
  font-family: Montserrat;
  display:inline-block;
  font-size: 20px;

}



li a:link, li a:visited {
  color:black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:170px;
}

li a:hover{
 background-color:darkgray;
  color:white;
  width:170px;
  border-radius: 30px;


}

li a:active {
  background-color:darkgray;
  color:white bold;
  width:170px;


}

#crno{
  margin-left:450px;
  margin-right:250px;
  position:absolute;
  width: 1000px;
  height:15px;
  background-color:black;
  margin-top:400px;
  padding: 0;
}




#futer{

  margin-left:450px;
  margin-right:250px;
  position:absolute;
  width: 1000px;
  height:100px;
  margin-top:2000px;
  padding-top: 10px;
  border-top: 5px solid black;
  text-align:center;
  font-size:25px;
}


#futer a {
  text-decoration:none;
  color:black;
}



#futer a:hover {
  text-decoration:none;
  color: gray;
}








*{

  box-sizing:border-box;

}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
}

/* Create two columns that float next to eachother */
.column {
float:left;
  width: 50%;
  margin-top: 6px;
    padding: 50px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.container{




  position:absolute;
  height: 300px;
  width: 1000px;
  background-color:white;
  margin-left:450px;
  margin-right:250px;
  margin-top:700px;

  padding: 0;



}

h2{



 font-size:50px;


}



